# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: djinnalexio

# Ignore Node.js dependencies
node_modules/

# Ignore ESLint cache
.eslintcache

# Ignore workspace settings
.idea
.vscode/
*.code-workspace

# Ignore swap files
*.swp

# Ignore build output or temporary files
*.mo
*.shell-extension.zip
*gschemas.compiled
**/locale/
